extends layout 
block content 
    h1= title 

    if book_instance.length 
        ul 
            each bookins in book_instance
                li 
                    a(href= bookins.url) #{boolins.book.title} : #{bookins.imprint} -&nbsp;
                    if bookins.status== "Available"
                        span.text-sucess #{bookins.status}

                    else if bookins.status== "Maintenance"
                        span.text-danger #{bookins.status}
                    else 
                        span.text-warring #{bookins.status}
                    if bookins.status != "Available"
                        span (Due: #{bookins.due_bank})
    else 
        p There is not book instance